@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    --red: #ff3838;
}

*{
    box-sizing: border-box;
    margin: 0; padding: 0;
}

body{
    font-family: 'Nunito', sans-serif;
    background: #f7f7f7;
}

.navbar a, .logo {
text-transform: capitalize;
text-decoration: none;
} 

button, a, input{
    transition: background-color .2s linear, color .2s linear;
}

::selection{
    background: var(--red);
    color: #fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;                                                                                                    
    scroll-padding-top: 6rem;
}

header{
    position: fixed;  
    top: 0; left: 0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 2rem 9%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1)                                                                                                                                                                                       ;
}

.logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #666;
}

.logo i{
    padding-right: .5rem;
    color: var(--red);
}

.navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color: #666;
}

.navbar a:hover{
   color: var(--red); 
}

#menu-bar{
    font-size: 2.2rem;
    color: #666;
    cursor: pointer;
    border: .1rem solid #666;
    border-radius: .3rem;
    padding: .2rem 0.90rem .05rem 0.9rem;
    display: none;
}

@media(max-width:991px){
    html{
        font-size: 55%;
    }

    header{
        padding: 2rem;
    }
}

@media(max-width:768px){
    #menu-bar{
        display: initial;
    }

    .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #f7f7f7;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        display: block;
        border: .2rem solid rgba(0, 0, 0, 0.1);
        border-left: .5rem solid var(--red);
        background: #fff;

    }
}

@media(max-width:400px){
    html{
        font-size: 50%;
    }

}

.V123{
 height: 12365px;
 background-color: #ff3838;
}



