@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    --red: #ff3838;
}

*{
    box-sizing: border-box;
    margin: 0; padding: 0;
}

body{
    font-family: 'Nunito', sans-serif;
    background: #f7f7f7;
}

section{
    padding: 2rem 9%;
}

.navbar a, .logo, .btn {
text-transform: capitalize;
text-decoration: none;
} 

button, a, input, .image, .content, .navbar{
   transition: all 0.5s ease;
}


::selection{
    background: var(--red);
    color: #fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;                                                                                                    
    scroll-padding-top: 6rem;
}

header{
    position: fixed;  
    top: 0; left: 0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 2rem 9%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1)                                                                                                                                                                                       ;
}

.heading{
    text-align: center;
    font-size: 3.5rem;
    padding: 1rem;
    color: #666;
}

.heading span{
    color: var(--red);
}

.box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.box-container .box{
    flex: 1 1 30rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border: .1rem solid rgba(0, 0, 0, .3);
    cursor: pointer;
    border-radius: .5rem;
}

.box-container .box .image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: -100%; left: 0;
    
}

.box-container .box .content{
    text-align: center;
    background: #fff;
    padding: 2rem;
   
}

.box-container .box .content img{
    margin: 1.5rem 0;
}

.box-container .box .content h3{
    font-size: 2.5rem;
    color: #333;
}

.box-container .box .content p{
    font-size: 1.6rem;
    color: #666;
    padding: 1rem 0;
}

.box-container .box:hover .image{
    top: 0;
}

.box-container .box:hover .content{
    transform: translateY(100%);
}

.logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #666;
}

.logo i{
    padding-right: .5rem;
    color: var(--red);
}

.navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color: #666;
}

.navbar a:hover{
   color: var(--red); 
}

#menu-bar{
    font-size: 2.2rem;
    color: #666;
    cursor: pointer;
    border: .1rem solid #666;
    border-radius: .3rem;
    padding: .2rem 0.90rem .05rem 0.9rem;
    display: none;
}

@media(max-width:991px){
    html{
        font-size: 55%;
    }

    header{
        padding: 2rem;
    }

    section{
        padding: 2rem;
    }
}

@media(max-width:768px){
    #menu-bar{
        display: initial;
    }

    .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #f7f7f7;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        display: block;
        border: .2rem solid rgba(0, 0, 0, 0.1);
        border-left: .5rem solid var(--red);
        background: #fff;

    }
}

@media(max-width:400px){
    html{
        font-size: 50%;
    }

}

.home{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    min-height: 100vh;
    align-items: center;
    background: url(../images/back.jpg) no-repeat;
    background-size: cover;
    background-position: center;

}



.content{
    flex: 1 1 40rem;
    padding-top: 6.5rem;
}

.image{
    flex: 1 1 40rem;
}

.image img{
    width: 100%;
    padding: 1.5rem;
    animation: float 4s ease-in-out infinite;
    
    
}

@keyframes float {
    0% { transform: translateY(0) rotate(-2deg); }
    50% { transform: translateY(3rem) rotate(2deg); }
    100% { transform: translateY(0) rotate(-2deg); }
}

.content h3{
    font-size: 5rem;
    color: #333;
}

.content p{
    font-size: 1.7rem;
    color: #666;
    padding: 1rem 0ssssssss;
}

.btn{
    display: inline-block;
    padding: .8rem 3rem;
    border: .2rem solid var(--red);
    color: var(--red);
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1.5rem;
}

.btn::before{
    content: "";
    position: absolute;
    top: 0; right: 0;
    width: 0%;
    height: 100%;
    background: var(--red);
    transition: .3s linear;
    z-index: -1;
}

.btn:hover::before{
    width: 100%;
    left: 0;
}

.btn:hover{
    color: #fff;
}
